
@{
    ViewData["Title"] = "UpdateUserInfo";
}

@model UserInfo
    <style>
    
        h1{
            margin: 0px;
            text-align:center;
            font-family:Cooper;
        }
        body {
            background-image: url("https://i.pinimg.com/564x/26/4b/b3/264bb31544ea00649644391b69e7c97b.jpg");
            margin: 0px;
        }
        div {
            display: flex;
            justify-content: center;
            align-content: center;
            padding-top: 15px;
            padding-right: 30px;
            padding-bottom: 50px;
            padding-left: 30px;
        }

        .MakeWide{
            width: 100px;
        }
        
    </style>

<h1>Update Your Info Below</h1>


<div style="background-color: white">
    <form action="../User/UpdateUserInfo" method="post">
        <label for="PreviousName">Current Name</label>
        <input type="text" name="PreviousName" placeholder="@Model.Name" value="" />
        <label for="Name">Enter Name Here</label>
        <input type="text" name="Name" value="" />
        @Html.LabelFor(m => m.Country)
        @Html.DropDownList("Country", new SelectList(Enum.GetValues(typeof(Countries))),
"Country", new { @class = "MakeWide" })<br />
        <label for="Smoker">Smoker? (greater than 10 cigarettes a day)</label>
        <input type="radio" name="Smoker" value="true" /><br />
        <input type="hidden" name="Smoker" value="false" />
        <label for="Drinker">Drinker? (greater than 3 drinks a day)</label>
        <input type="radio" name="Drinker" value="true" /><br />
        <input type="hidden" name="Drinker" value="false" />
        <input type="hidden" name="lifeExpectancy" value="0" />
        <input type="submit" value="Update User Information" />
        <br />
        <br />
        <img src="https://i.pinimg.com/236x/6c/91/84/6c918488a9219124e041bc8b139d28d8.jpg" alt="Ron Swanson" />

    </form>
</div>

