
@{
    ViewData["Title"] = "UserPreferences";
}

<h1>@ViewBag.messageforPrefs</h1>

<form action="../User/UserPreferences" method="post">
    When would you like to start visiting parks:<br /><input type="date" name="StartYear" value="" /><br />
    When would you like to have your bucket list completed by:<br /><input type="date" name="EndYear" value="" /><br /><br />
    <input type="range" min="0" max="20" name="Frequency" step="1" list="tickMarks" value="0" oninput="range_Frequency_disp.value" >
        <output id= "range_Frequency_disp"></output>
    <br />
    <input type="submit" value="Submit Preferences" />
</form>

