
@{
    ViewData["Title"] = "UserPreferences";
}


<h1>@ViewBag.messageforPrefs</h1>
    <style>
        body {
            background-image: url(https://modernconservationist.com/wp-content/uploads/2018/11/59-Parks-Lego-HQ-Show-e1542390383240.jpg);
            
        }

        h1 {
            background-color: aqua;
            
            font-family: Cooper;
        }
        div {
            display: flex;
            justify-content: center;
            align-content: center;
            padding-top: 15px;
            padding-right: 30px;
            padding-bottom: 50px;
            padding-left: 30px;
        }

    </style>


<h1>User Preferences</h1>

<div style="background-color: aqua">
    <form action="../User/UserPreferences" method="post">
        <table>
            <tr>
                <th>New Start Date</th>
                <th>New End Date</th>
            </tr>
            <tr>
                <td><input type="date" name="StartYear" value="" /></td>
                <td><input type="date" name="EndYear" value="" /></td>
            </tr>
        </table>
        <input type="hidden" name="frequency" value="1" /><br />
        <input type="submit" value="Submit Preferences" />
    </form>
</div>


