
@{
    ViewData["Title"] = "LifeExpectancyCalc";
}
@model Double
<h1>Calculated Number Of Years Remaining</h1>
<p>@ViewBag.blCount</p>
<p>@ViewBag.timeleft</p>

<p>To complete your bucket list you're gonna need to visit at least @Model.ToString() Parks a year! </p>