
@{
    ViewData["Title"] = "DisplayBucketList";
}
@model List<UserParks>

<h1>DisplayBucketList</h1>

<table>
    <tr>
        <th>Park Name</th>
        <th>City</th>
        <th>State</th>
        
    </tr>
    @foreach (var parks in Model)
    {
<tr>
    <td>@parks.ParkName</td>
    <td>@parks.City</td>
    <td>@parks.State</td>
    

    <td>
        <a class="btn" href="../ParksDbController/MarkParkVisited?id=@parks.UsersParkIds"></a>
    </td>
</tr>
    }
</table>