
@{
    ViewData["Title"] = "FullUser";
}

<h1>FullUser</h1>



<div>
    <p>Lets add any parks you might have missed to your bucket list?</p>
    <a class="btn btn-primary" href="../ParksDb/Index">View all parks</a>
</div>
<div>
    <p>Would you like to remove any parks or cross some off of your bucket list?</p>
    <a class="btn btn-primary" href="../ParksDb/DisplayBucketList">View bucket list</a>
</div>
<div>
    <p>Would you like to change or add on to your info?</p>
    <a class="btn btn-primary" href="../User/UpdateUserInfo">Update My Info</a>
</div>
<div>
    <p>Marked a park as visited but want to go again or as an accident go here!</p>
    <a class="btn btn-primary" href="../ParksDb/UpdateParkVisited">Parks you have visited</a>
</div>