@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h4>Thank you for logging into Parks and Death! the application that lets you know how many national parks you need to visit before you DIE</a>.</h4>
        <p class="text-center">Lets get started by taking a look at all of the national parks! (please click the "see parks" button below)</p>
        <a class="btn btn-primary" href="../ParksDb/">See Parks</a>
        
    </div>
